.big_bg {
	background-image: url(/static/img/big_bg.jpg);
}
.color1 {
	color: #B67023;
}
.color2 {
	color: #737373;
}
.color3 {
	color: #969696;
}
.color4 {
	color: #808080;
}
.color5 {
	color: #764020;
}
.color6 {
	color: #333333;
}
.color7 {
	color: #483C2E;
}
.color8 {
	color: #D57B51;
}
.color9 {
	color: #9A5719;
}
.color10 {
	color: #666666;
}
.color11 {
	color: #999999;
}
.color12 {
	color: #F49A4B;
}
.color13 {
	color: #A6A6A6;
}
.color14 {
	color: #FC6805;
}
.color15 {
	color: #8F8F8F;
}
.color16 {
	color: #919191;
}
.color17 {
	color: #525252;
}
.color18 {
	color: #FFE399;
}
.color19 {
	color: #D37951;
}
.no_out_ln {
	outline: none;
}
.header {
	height: 105px;
	width: 100%;
	margin-bottom: 3px;
	background-image: url(/static/img/header_bg.jpg);
}
.inner-header {
	height: 105px;
	width: 970px;
	position: relative;
	margin-bottom: 3px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/static/img/header.jpg);
}
.logo {
	position: absolute;
	top: 48px;
	left: 48px;
}
.nav {
	position: absolute;
	left: 168px;
}
.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav li {
	float: left;
}
.menu {
	display: block;
	height: 100px;
	width: 130px;
}
.menu-cabinet, .menu-want, .menu-repo, .menu-help {
	outline: none;
}
.menu-cabinet:link {
	background: url(/static/img/menu_cabinet.png);
}
.menu-want:link {
	background: url(/static/img/menu_want.png);
}
.menu-repo:link {
	background: url(/static/img/menu_repo.jpg);
}
.menu-help:link {
	background: url(/static/img/menu_help.png);
}
.menu-cabinet:hover, .menu-want:hover, .menu-repo:hover, .menu-help:hover {
	background-position: 0px -108px;
}
.menu-cabinet:active, .menu-want:active, .menu-repo:active, .menu-help:active {
	background-position: 0px -216px;
}
#menu-selected {
	background-position: 0px -216px;
}
#menu-selected:hover {
}
.search {
	position: absolute;
	right: 0px;
	top: 42px;
}
#keyword {
	border: none;
	float: left;
	width: 164px;
	height: 48px;
	line-height: 16px;
	padding-left: 8px;
	padding-right: 8px;
	font-family: "宋体";
	font-size: 14px;
	background-image: url(/static/img/search_box.jpg);
}
.btn_search {
	display: block;
	float: left;
	width: 46px;
	height: 48px;
	outline: none;
	background: url(/static/img/btn_search.png);
}
.btn_search:hover {
	background-position: 0px -48px;
}
.btn_search:active {
	background-position: 0px -96px;
}
#btn_book_plus {
	display: block;
	width: 37px;
	height: 21px;
	outline: none;
	background-image: url(/static/img/plus.png);
}
#btn_book_plus:hover {
	background-position: 0px -21px;
}
#btn_book_plus:active {
	background-position: 0px -42px;
}
.content {
	position: relative;
	width: 970px;
	min-height: 1056px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
}
.footer {
	height: 61px;
	width: 100%;
	margin-top: 16px;
	background-image: url(/static/img/footer_bg.jpg);
	font-family: "宋体";
	font-size: 14px;
	color: #FFFFFF;
}
.inner-footer {
	padding-top: 24px;
	height: 37px;
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/static/img/footer_bg.jpg);
}
.dot_border {
	border-right: dotted 1px #333333;
}
.cabinet-tab {
	height: 40px;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	background: #E3DED5;
	border-bottom: solid 1px #999999;
}
.cabinet-tab li {
	display: block;
	float: left;
	height: 24px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 8px;
	margin-top: 8px;
}
.cabinet-tab li a {
	text-decoration: none;
	color: #000000;
}
.cabinet-tab-selected {
	background: #ffffff;
	border: solid 1px #999999;
	border-bottom: none;
}
.content-center {
	position: relative;
	border: #999999 solid 1px;
	min-height: 1056px;
	width: 688px;
	background: #ffffff;
	float: left;
}
.profile {
	border: #999999 solid 1px;
	border-left: none;
	padding: 32px;
	padding-bottom: 16px;
	/*height: 224px;*/
	width: 214px;
	background: #F4F1EA;
	float: left;
}
#username, #password {
	border: none;
	width: 168px;
	height: 32px;
	margin-top: 16px;
	line-height: 16px;
	padding-left: 32px;
	font-family: "Arial";
	font-size: 16px;
	color: #FFFFFF;
}
#username {
	background-image: url(/static/img/username.png);
}
#password {
	background-image: url(/static/img/password.png);
}
.btn_login, .btn_reg {
	width: 80px;
	height: 30px;
}
.btn_login {
	background: url(/static/img/login.png);
}
.btn_login:hover, .btn_reg:hover {
	background-position: 0 -32px;
}
.btn_login:active, .btn_reg:active {
	background-position: 0 -64px;
}
.btn_reg {
	background: url(/static/img/register.png);
	right: 46px;
}
.avatar {
	background: #ffffff;
}
.inner-avatar {
	margin: 5px;
}
.icon-mail, .icon-profile, .icon-cabinet, .icon-booksWanted, .icon-friends {
	background-repeat: no-repeat;
	padding-left: 24px;
	margin-left: 4px;
}
.icon-mail {
	background-image: url(/static/img/mailbox.png);
}
.icon-profile {
	background-image: url(/static/img/profile.png);
}
.icon-cabinet {
	background-image: url(/static/img/cabinet.png);
}
.icon-booksWanted {
	background-image: url(/static/img/book.png);
}
.icon-friends {
	background-image: url(/static/img/friends.png);	
}
.icon-favor {
	padding-left: 20px;
	background: url("/static/img/sfavor.png") no-repeat 0px -2px;
}
.icon-weibo-enabled, .icon-weibo-disabled {
	padding-top: 4px;
	padding-left: 20px;
	background-repeat: no-repeat;
}
.icon-weibo-enabled {
	background-image: url(/static/img/sina_16x16.png);
}
.icon-weibo-disabled {
	background-image: url(/static/img/sina_16x16_disabled.png);
}
.submenu {
	padding-top: 8px;
	padding-bottom: 8px;
	border-top: dotted 1px #999999;
}
.submenu:hover {
	background: #D9D2CA;
}
.submenu:active, #submenu-selected {
	background: #6C5848;
}
.submenu:active a, #submenu-selected a {
	color: #FFFFFF;
}
.news {
	border: #999999 solid 1px;
	border-left: none;
	padding: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	/*height: 392px;*/
	width: 214px;
	margin-top: 5px;
	background: #F4F1EA;
	float: left;
}
.news a {
	color: #333333;
}
.news-item {
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: dotted 1px #999999;
	line-height: 16px;
}
.active {
	border: #999999 solid 1px;
	border-left: none;
	padding: 32px;
	padding-top: 16px;
	padding-bottom: 16px;
	/*height: 248px;*/
	width: 214px;
	margin-top: 5px;
	background: #F4F1EA;
	float: left;
}
.notify {
        border: #999999 solid 1px;
        border-left: none;
        padding: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        /*height: 248px;*/
        width: 214px;
        background: #F4F1EA;
        float: left;
}
/*border-bottom*/
.bb {
	border-bottom: dotted 1px #999999;
}
/*page-nav*/
.page-nav-top-border {
	border-top: solid 1px #B9B9B9;
}
.page-nav-bottom-border {
	border-bottom: solid 1px #B9B9B9;
}
.page-nav {
	position: relative;
	width: 590px;
	margin-top: 20px;
	margin-left: 49px;
	margin-bottom: 20px;
}
.nav-left a {
	display: block;
	float: left;
	padding: 3px;
	padding-left: 8px;
	padding-right: 8px;
	margin-right: 4px;
	text-decoration: none;
	font-family: "Arial";
	font-size: 12px;
	background-image: url(/static/img/btn_page_normal.png);
	background-repeat: repeat-x;
	border: solid 1px #ACACAC;
	color: #666666;
}
#page-selected, .nav-left a:active {
	background-image: url(/static/img/btn_page.png);
	background-repeat: repeat-x;
	border: solid 1px #B8590C;
	color: #FFFFFF;
}
.input_page {
	width: 32px;
	padding: 4px;
	background: #F2F2F2;
	border: solid 1px #ACACAC;
	font-family: "Arial";
	font-size: 12px;
	color: #666666;
}
.go_page {
	width: 32px;
	padding: 4px;
	background: #F2F2F2;
	border: solid 1px #ACACAC;
	font-family: "Arial";
	font-size: 12px;
	color: #666666;
}
.dialog {
	position: absolute;
	left: 30%;
	top: 30%;
	width: 40%;
	background: #756D65;
	border: 1px solid #3D3127;
	padding: 1px;
	z-index: 1001;
}
.dialog-title {
	height: 36px;
	width: 100%;
	background: url(/static/img/dialog_title_bg.png);
}
.dialog-title p {
	padding: 8px;
	text-align: left;
	font-size: 16px;
	color: #FFFFFF;
}
.dialog-title a {
	display: block;
	position: absolute;
	top: 8px;
	right: 8px;
	width: 22px;
	height: 22px;
	background: url(/static/img/dlg_close.png);
}
.dialog-content {
	position: relative;
	border: 1px solid #4F4033;
	border-top: none;
	background: url(/static/img/dlg_content_bg.png);
}
#overlay {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background: url("/static/img/dlg_bg.png") repeat-x scroll 50% 50% #AAAAAA;
	opacity: 0.5;
}
.desc {
	width: 136px; 
}


/*---------- bubble tooltip -----------*/
a.tt {
	position: relative;
	z-index: 24;
	text-decoration: none;
}
a.tt span {
	display: none;
}
/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover {
	z-index: 25;
}
a.tt:hover span.tooltip {
	display: block;
	position: absolute;
	top: -149px;
	left: 124px;
	padding: 15px 0 0 0;
	width: 253px;
	filter: alpha(opacity:95);
	KHTMLOpacity: 0.95;
	MozOpacity: 0.95;
	opacity: 0.95;
}
a.tt:hover span.top {
	display: block;
	padding-top: 12px;
	padding-left: 20px;
	background: url(/static/img/tooltip.png) no-repeat top;
}
a.tt:hover span.top .icon-favor {
	display: block;
}
a.tt:hover span.middle { /* different middle bg for stretch */
	display: block;
	margin-top: -48px;
	padding: 0 20px;
	padding-top: 48px;
	background: url(/static/img/tooltip_filter.png) repeat bottom;
}
a.tt:hover span.bottom {
	display: block;
	padding: 3px 8px 10px;
	color: #548912;
	background: url(/static/img/tooltip.png) no-repeat bottom;
}
a.tt:hover span.tt-title {
	display: inline;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
a.tt:hover span.tt-status {
	display: inline;
	font-size: 12px;
	color: #D47A51;
}
a.tt:hover span.tt-item {
	display: inline;
	font-size: 12px;
	color: #999999;
}
a.tt:hover span.tt-owner {
	display: inline;
	font-size: 12px;
	color: #D47A51;
}
a.tt:hover span.tt-favor, a.tt:hover span.tt-watch {
	display: inline;
	font-size: 12px;
	color: #D47A51;
	background-repeat: no-repeat;
	background-position: 0px -2px;
	padding-left: 20px;
}
a.tt:hover span.tt-favor {
	background-image: url(/static/img/sfavor.png);
}
a.tt:hover span.tt-watch {
	background-image: url(/static/img/watch.png);
}
