django==1.5
MySQL-python==1.2.3
south==0.7.6
django-tastypie==0.9.14
enum34==0.9.19
django-tagging==0.3.1
requests==1.2.3
sinaweibopy==1.1.2
-e git+git://github.com/ax003d/pygetui.git#egg=pygetui
-e git+git://github.com/hiidef/oauth2app.git@f8205e2146477224a666c03bf115ddf3ff7610ff#egg=oauth2app
