<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="icon" type="image/ico" href="/favicon.ico">
		<link rel="stylesheet" href="/static/js/themes/south-street/jquery.ui.all.css">
		<link rel="stylesheet" href="/static/css/style.css">
		{% if debug %}
		<script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
		<!-- <script type="text/javascript" src="/static/js/jquery.layout-1.3.0.rc30.4.js"></script> -->
		<script type="text/javascript" src="/static/js/ui/jquery.ui.core.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.mouse.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.draggable.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.position.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.resizable.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.accordion.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.button.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.dialog.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.tabs.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.ui.datepicker.js"></script>
		<script type="text/javascript" src="/static/js/ui/jquery.effects.core.js"></script>		
		<script type="text/javascript" src="/static/js/ui.ariaSorTable.js"></script>
		<script type="text/javascript" src="/static/js/jquery.livequery.js"></script>
		{% else %}
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<!-- <script type="text/javascript" src="/static/js/jquery.layout-1.3.0.rc30.4.min.js"></script> -->
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.core.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.widget.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.mouse.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.draggable.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.position.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.resizable.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.accordion.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.button.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.dialog.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.tabs.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.ui.datepicker.min.js"></script>
		<script type="text/javascript" src="/static/js/ui/minified/jquery.effects.core.min.js"></script>		
		<script type="text/javascript" src="/static/js/ui.ariaSorTable.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.livequery.js"></script>
		{% endif %}		
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
</html>
