<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="/static/css/base.css">
		<link rel="stylesheet" href="/static/css/common.css">
		<link rel="stylesheet" href="/static/css/register.css">
		<title>忘记密码&nbsp;|&nbsp;私橱网</title>
	</head>
	<body class="big_bg h">
		<div id="inner_body" class="w600 bc">
			<h1>私橱网</h1>
			<div class="cb"></div>
			<span class="tooltip-like"> <span class="top"> </span> <span class="middle">
					<form action="" method="post">
						{% csrf_token %}						
						<fieldset>
							<legend>忘记密码</legend>
							<table class="ml70">
								<tbody>
									<tr>
										<td><label for="id_email">注册邮箱:</label></td>
										<td><input id="id_email" type="text" name="email" class="text" /></td>
										<td class="f14 color12">{{ form.email.errors }}</td>
									</tr>
									<tr>
										<td></td>
										<td><input type="image" src="/static/img/btn_send.png" alt="发送" /></td>
									</tr>
								</tbody>
							</table>
						</fieldset>
					</form></span> <span class="bottom"></span> </span>
			<p class="tc mt20 color3 f13">&copy;2012私橱网</p>
		</div><!-- inner_body -->
		<script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				window.onresize = function() {
					var mt = $("body").height() - 360;					
					if(mt < 36) {
						mt = 36;
					}
					$("#inner_body").css("margin-top", mt + "px");
				};
				window.onresize();				
			});
		</script>
	</body>
</html>