{% extends "registration/reg_base.html" %}

{% block title %}修改密码&nbsp;|&nbsp;私橱网{% endblock %}

{% block middle %}
{% if validlink %}
<form id="form_reset_pwd" action="" method="post">
	{% csrf_token %}
	<fieldset>
		<legend>
			重置密码
		</legend>
		<table class="ml70">
			<tbody>
				<tr>
					<td></td>
					<td class="f14 color12">{% if form.new_password1.errors %}密码不能为空, 或者两次输入的密码不一致!{% endif %}</td>
				</tr>
				<tr>
					<td class="tr"><label for="id_new_password1">新密码：</label></td>
					<td>
					<input type="password" name="new_password1" id="id_new_password1" class="text" />
					</td>
				</tr>
				<tr>
					<td class="tr"><label for="id_new_password2">再次输入新密码：</label></td>
					<td>
					<input type="password" name="new_password2" id="id_new_password2" class="text" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
					<input type="image" src="/static/img/btn_send.png" alt="确定"/>
					</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</form><!-- form_register -->
{% else %}
<div class="pl50 pt30">
	<img src="/static/img/error.png" alt="Password reset invalid!" class="fl" />
	<p class="fl ml20 mt20">
		密码重置链接已经失效，请再次尝试<a href="/registration/password_reset/" class="f16 color12">密码重置!</a>
	</p>
	<div class="cb"></div>
</div>
{% endif %}
{% endblock %}